

/*----------area02---------------*/
.banner{
	background: url(images/memberlist-banner.jpg) center;
	background-size: cover;
	height: 300px;
	padding: 0;
}
.box{
    border: 2px solid #C0A264;
    border-radius: 5px;
   /* position: relative;*/
   height: 400px;
}
.login-logo{
	text-align: center;
	margin: 20px 0 40px 0;
}
.form-group{
	text-align: center;
}
.form-group .title{
	color: #C0A264;
	font-size: 22px;
	width: 200px;
	text-align: center;
}
.form-group input{
	width: 200px;
	display: inline-block;
}
.box .group02{
	margin-top: 30px;
}
.confirm{
	text-align: center;
}
.confirm button{
	margin-top: 20px;
	width: 200px;
	font-size: 18px;
}


